body {
  background-color: black;
  color: #fff;
  font-family: "Trade Gothic W01", sans-serif;
}

/* 公共类inner，用来放置内容，内容区宽度固定，居中 */
.inner {
  width: 1000px;
  margin: 0 auto;
}

/* 超链接样式 */
a {
  text-decoration: none;
}

a:hover {
  color: slateblue;
}

/* 列表样式 */
ul {
  /* 列表项不需要项目符号 */
  list-style: none;
}

/* 一级标题样式 */
h1 {
  font-family: "Trade Gothic W01";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 90px;
}

/* 页眉区header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

/* 导航列表样式 */
nav ul.navigation {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: black;
}

nav ul.navigation li {
  display: inline-block;
  text-align: center;
}

nav ul.navigation li a {
  line-height: 80px;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  display: block;
  width: 165px;
  position: relative;
}

nav ul.navigation li a:hover {
  color: slateblue;
}

.navigation li:hover a:after {
  content: "";
  height: 4px;
  width: 100%;
  background: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.navigation li.on a:after,
.navigation li:hover a:after {
  opacity: 1;
}

/* 边栏区aside列表样式 */
ul.sidenav {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -200px;
  transition-delay: 0.1s;
  transition: all 0.3s;
}

ul.sidenav li {
  font-size: 15px;
  font-weight: 800;
  width: 80px;
  line-height: 40px;
  text-align: center;
  opacity: 0.5;
}

/* 返回页面最上方 */
li.gototop {
  opacity: 1;
}

/* 1号内容区container1，用来放置当前页面背景图 */
#container1 {
  background: url(../img/house.jpg) no-repeat center;
  background-size: 100%;
  width: 100%;
  height: 730px;
}

/* 2号内容区container2，内部又分为两个部分cont1和cont2 */
#container2 {
  margin-bottom: 50px;
}

/* 页面logo：放在最左侧 */
.logo {
  float: left;
}

/* 内容区cont1：主页标题 */
#container2 #cont1 {
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

/* 内容区cont2：作者信息 */
#container2 #cont2 {
  border: 4px dashed #ddd;
  background: url(../img/zuel4.JPG) no-repeat center;
  background-size: 100%;
  width: 1000px;
  height: 650px;
  text-align: center;
}

#container2 #cont2 h1 {
  transition: all 0.3s;
  line-height: 420px;
  font-size: 140px;
  letter-spacing: 10px;
}

/* 3号内容区container3，内部又分为左中右三个部分contLeft、contMiddle和contRight */
#container3 {
  text-align: center;
  padding-bottom: 200px;
}

#container3 h1 {
  line-height: normal;
  margin: 30px auto 0 auto;
}

/* 内容区contLeft：文学 */
#container3 #contLeft {
  float: left;
  width: 350px;
  border: 5px dotted #ddd;
  padding-bottom: 30px;
}

/* 内容区contMiddle：电影 */
#container3 #contMiddle {
  float: left;
  width: 350px;
  border: 5px dotted #ddd;
  margin-left: 25px;
  padding-bottom: 30px;
}

/* 内容区contRight：音乐 */
#container3 #contRight {
  float: right;
  width: 220px;
  border: 5px dotted #ddd;
  padding-bottom: 30px;
}

#container3 .description {
  padding: 0 30px 10px 30px;
}

#container3 .description p {
  text-align: left;
  text-indent: 2em;
  line-height: 2em;
  color: #afafaf;
}

#container3 #contRight .description {
  padding: 0;
  text-align: left;
  line-height: 2em;
  color: #afafaf;
  text-decoration: underline;
  padding-bottom: 40px;
}

/* 项目符号设置为实心圆 */
#container3 #contRight .description ul {
  list-style-type: disc;
}

/* 页脚区footer */
footer {
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid #ddd;
  clear: both;
}

/* 页脚导航区footnav */
footer ul.footnav li {
  display: inline-block;
  text-align: center;
  width: 220px;
  height: 50px;
}

footer ul.footnav li a {
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
}

footer ul.footnav li a:hover {
  color: slateblue;
}

footer td.sharetext h1 {
  display: inline-block;
  line-height: 1.25em;
  width: 300px;
  text-indent: 90px;
}

/* 按钮样式 */
.button {
  display: block;
  margin: 10px auto 0;
  width: 80%;
  height: 46px;
  line-height: 46px;
  font-family: "Trade Gothic W01";
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  border: 1px solid #fff;
  color: #fff;
}

/* 分割线 */
.line {
  background: url(../img/line.png) repeat-x;
  height: 80px;
  width: 890px;
  margin: 0 auto;
}

/* 图片页脚区container4，可以跳转至各个界面 */
#container4 {
  padding-top: 150px;
  margin-bottom: 100px;
  clear: both;
  transition: all 0.3s;
}

#container4 a {
  font-size: 72px;
  letter-spacing: 7px;
  line-height: 300px;
  color: #fff;
  font-weight: bold;
}

#container4 a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* 内容区subfooter1：跳转至主页 */
#container4 #subfooter1 {
  height: 300px;
  background: url(../img/sub1.JPG) no-repeat center;
  background-size: 100%;
  text-align: center;
}

/* 内容区subfooter2：跳转至文学页面 */
#container4 #subfooter2 {
  height: 300px;
  background: url(../img/sub2.JPG) no-repeat center;
  background-size: 100%;
  text-align: center;
}

/* 内容区subfooter3：跳转至电影页面 */
#container4 #subfooter3 {
  height: 300px;
  background: url(../img/sub3.JPG) no-repeat center;
  background-size: 100%;
  text-align: center;
}

/* 内容区subfooter4：跳转至音乐页面 */
#container4 #subfooter4 {
  height: 300px;
  background: url(../img/sub4.JPG) no-repeat center;
  background-size: 100%;
  text-align: center;
}

/* 内容区subfooter5：跳转至联系页面 */
#container4 #subfooter5 {
  height: 300px;
  background: url(../img/sub5.JPG) no-repeat center;
  background-size: 100%;
  text-align: center;
}
